vendor/*
public/audio/*
public/docs/*
public/images/awards/*
public/images/carousel/*
public/images/departments/*
public/images/fund/*
public/images/galleries/*
public/images/students/*
public/images/teachers/*