{% extends 'templates/layout-admin.twig' %}

{% block title %}{% endblock %}

{% block content %}
  
  <div class="row">
    {% if auth.user.is_admin %}
      {% include 'templates/partials/_menu-admin.twig' %}
    {% else %}
      {% if not auth.user.is_teacher %}
        {% include 'templates/partials/_menu-admin-writer.twig' %}
      {% else %} 
        {% include 'templates/partials/_menu-admin-teacher.twig' %}
      {% endif %} 
    {% endif %}
  </div>

{% endblock %}