.header {
  background-color: black;
  background-image: url('../public/images/bg-header.jpg');
  background-size: cover;
  background-position: bottom;
  display: none;
}

.header__caption {
  color: white;
  font: normal 3rem 'Lobster', cursive;
  text-align: center;
  text-shadow: 0.25rem 0.25rem 0 black;
}

.header__logo {
  background-color: rgba(255,255,255,1.0);
  border-radius: 50%;
  height: 5rem;
  margin: 2rem 0;
  width: 5rem;
}

@media all and (max-width: 1200px) {
  .header__caption {
    font-size: 2.5rem;
    text-shadow: 0.20rem 0.20rem 0 black;
  }
}

@media all and (max-width: 800px) {
  .header__caption {
    font-size: 2rem;
    text-shadow: 0.15rem 0.15rem 0 black;
  }
  .header__logo {
    margin: 0 auto;
  }
}

.menu {
  margin: auto;
}

.menu_margin-bottom {
  margin-bottom: 2rem;
}

.menu__caption {
  background-color: firebrick !important;
  color: white !important;
}

.menu__item a {
  color: black !important;
}

.text-firebrick {
  color: firebrick;
}