.header {
  background-color: black;
  background-image: url('../public/images/bg-header.jpg');
  background-size: cover;
  background-position: bottom;
  color: white;
  font: normal 3rem/10rem 'Lobster', cursive;
  text-shadow: 0.25rem 0.25rem 0 black;
  white-space: nowrap;
}

.logo {
  background-color: rgba(255,255,255,1.0);
  border-radius: 50%;
  float: left; 
  height: 6rem;
  margin-right: 2rem;
  padding: 1rem;
  position: relative;
  width: 6rem;
}

.logo img {
  left: 0;
  position: absolute;
  top: 0;
}



/* @media all and (max-width: 1000px) {
  .header {
    font: normal 2rem/5rem 'Lobster', cursive;
    text-shadow: 0.15rem 0.15rem 0 black;
  }

  .header img {
    max-height: 3rem;
  }
} */