<div class="header">
  <div class="container">
    <div class="row">
      <div class="col-md-2 col-sm-12 align-self-center">
        <div class="header__logo mx-auto">
            <img src="{{ base_url() }}/images/ddms-logo.png" class="img-fluid" alt="Дніпрорудненська дитяча музична школа">
        </div>  
      </div>
      <div class="col-md-10 col-sm-12 align-self-center">
        <div class="header__caption">
          Дніпрорудненська дитяча музична школа
        </div>  
      </div>
    </div>
  </div>
</div>