<div class="row header">
  <div class="container" style="white-space: nowrap">
    <div class="logo mt-4">
      <img src="{{ base_url() }}/images/ddms-logo.png" class="img-fluid mt-1" alt="Дніпрорудненська дитяча музична школа">
    </div>
    Дніпрорудненська дитяча музична школа
  </div>
</div>