<div class="col-md-3 col-sm-12">
  <ul class="list-group menu menu_margin-bottom">
    <li class="list-group-item menu__caption">Музичний відділ</li>
    <li class="list-group-item menu__item"><a href="#">Фортепіанний відділ</a></li>
    <li class="list-group-item menu__item"><a href="#">Народний відділ</a></li>
    <li class="list-group-item menu__item"><a href="#">Музично-теоретичний відділ</a></li>
    <li class="list-group-item disabled" aria-disabled="true">Наші роботи</li>
    <li class="list-group-item menu__item"><a href="#">Мінусові фонограми</a></li>
  </ul>
  <ul class="list-group menu menu_margin-bottom">
    <li class="list-group-item menu__caption">Художній відділ</li>
    <li class="list-group-item menu__item"><a href="#">Учбовий процес</a></li>
    <li class="list-group-item menu__item"><a href="#">Конкурси</a></li>
    <li class="list-group-item menu__item"><a href="#">Наші випускники</a></li>
    <li class="list-group-item disabled" aria-disabled="true">Галерея</li>
    <li class="list-group-item menu__item"><a href="#">Золотий фонд</a></li>
    <li class="list-group-item menu__item"><a href="#">Архів</a></li>
    
  </ul>
</div>