{% extends 'templates/layout.twig' %}

{% block title %}
  User details
{% endblock %}

{% block content %}
  <div class="container">
    <h1 class="mb-5">User details</h1>
    <p>ID: {{ user.id }}</p>
    <p>Username: {{ user.username }}</p>
    <p>Is admin: {{ user.is_admin }}</p>
  </div>
{% endblock %}