{% extends 'templates/layout-admin.twig' %}

{% block title %}{% endblock %}

{% block content %}

<div class="row mt-5">
  <img src="{{ base_url() }}/images/ddms-logo.png" alt="Дніпрорудненська дитяча музична школа" class="mx-auto" style="width: 100px">
</div>

<h6 class="text-center">Aдміністрування сайту Дніпрорудненської музичної школи</h6>
<div class="row">
  <div class="col-md-4 offset-md-4">
    <div class="card-body">
      <form action="{{ path_for('admin.user.login') }}" method="POST">
        <div class="form-group">
          <label for="username" class="small">Логін</label>
          <input class="form-control" name="username" id="username" placeholder="Логін">
        </div>
        <div class="form-group">
          <label for="password" class="small">Пароль</label>
          <input class="form-control" name="password" id="password" type="password" placeholder="Пароль">
        </div>
        <div class="form-group">
          <button class="btn btn-sm btn-dark" type="submit">Вхід</button>
        </div>  
        {{ csrf.fields|raw }}
      </form>
    </div>
  </div>
</div>

{% endblock %}