{% extends 'templates/layout.twig' %}

{% block title %}
  Login
{% endblock %}

{% block content %}

<div class="row mt-5">
  <div class="col-md-6 offset-md-3">
    <div class="card-body">
      <form action="{{ path_for('admin.user.login') }}" method="POST">
        <div class="form-group">
          <label for="username" class="small">Логін</label>
          <input class="form-control" name="username" id="username" placeholder="Логін">
        </div>
        <div class="form-group">
          <label for="password" class="small">Пароль</label>
          <input class="form-control" name="password" id="password" type="password" placeholder="Пароль">
        </div>
        <div class="form-group">
          <button class="btn btn-sm btn-dark" type="submit">Вхід</button>
        </div>  
        {{ csrf.fields|raw }}
      </form>
    </div>
  </div>
</div>

{% endblock %}